
<!-- Promo box starts -->
<div class="promo">
  <div class="container">
    <div class="row">
      
      <!-- Red color promo box -->
      <div class="col-md-4">
        <div class="pbox rcolor">
          <div class="pcol-left">
            <a href="#/phones">
              <img src="img/photos/promo-1.png" alt="" />
              </a>
            </div>
            <div class="pcol-right">
              <p class="pmed">
                <a href="#/phones">
                  HTC One
                </a>
              </p>
              <p class="psmall">
                <a href="#/phones">
                  КРУТАЯ РЕКЛАМА
                </a>
              </p>
            </div>
            <div class="clearfix">
            </div>
            </div>
          </div>
          
          
          <!-- Blue color promo box -->
          <div class="col-md-4">
            <div class="pbox bcolor">
              <div class="pcol-left">
                <a href="#/phones">
                  <img src="img/photos/promo-2.png" alt="" />
                </a>
              </div>
              <div class="pcol-right">
                <p class="pmed">
                  <a href="#/phones">
                    Blackberry
                  </a>
                </p>
                <p class="psmall">
                  <a href="#/phones">
                    КРУТАЯ РЕКЛАМА
                  </a>
                </p>
              </div>
              <div class="clearfix">
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="pbox gcolor">
              <div class="pcol-left">
                <a href="#/phones">
                  <img src="img/photos/promo-3.png" alt="" />
                </a>
              </div>
              <div class="pcol-right">
                <p class="pmed">
                  <a href="#/phones">
                    Nokia Lumia
                  </a>
                </p>
                <p class="psmall">
                  <a href="#/phones">
                    КРУТАЯ РЕКЛАМА
                  </a>
                </p>
              </div>
              <div class="clearfix">
              </div>
            </div>
          </div>
          
          </div>
        </div>
</div>
<!-- Promo box ends -->

<!-- Items -->
<div class="items">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">
          Популярные продажи
        </h3>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="item">
          <div class="item-image">
            <a href="#/phones/apple_iphone5s16"><img src="http://content2.onliner.by/catalog/device/icon/6cd5eef5b1c33096963ebe862912cf6b.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="item-details">
            <h5><a href="#/phones/apple_iphone5s16">Apple iPhone 5s (16GB)</a></h5>
            <div class="clearfix"></div>
            <div class="item-price center">790$ - 3200$</div>
            <hr>
            <div class="button pull-left"><a href="#">В корзину</a></div>
            <div class="button pull-right"><a href="#">Сравнить</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="item">
          <div class="item-image">
            <a href="#/phones/lenovo_p780"><img src="http://content2.onliner.by/catalog/device/icon/6634ef2b7e501b49ecbbd45da51f5aaf.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="item-details">
            <h5><a href="#/phones/lenovo_p780">Lenovo P780</a></h5>
            <div class="clearfix"></div>
            <div class="item-price center">330$ - 380$</div>
            <hr>
            <div class="button pull-left"><a href="#">В корзину</a></div>
            <div class="button pull-right"><a href="#">Сравнить</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="item">
          <div class="item-image">
            <a href="#/phones/huawei_p6"><img src="http://content2.onliner.by/catalog/device/icon/e65cc9ae210c7810e6b2b21887c6765b.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="item-details">
            <h5><a href="#/phones/huawei_p6">Huawei Ascend P6</a></h5>
            <div class="clearfix"></div>
            <div class="item-price center">360$ - 471$</div>
            <hr>
            <div class="button pull-left"><a href="#">В корзину</a></div>
            <div class="button pull-right"><a href="#">Сравнить</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="item">
          <div class="item-image">
            <a href="#/phones/samsung_i9500"><img src="http://content2.onliner.by/catalog/device/icon/4cb80acfcf7e057ef4b4f104543f911d.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="item-details">
            <h5><a href="#/phones/samsung_i9500">Samsung Galaxy S4 (16Gb) (I9500)</a></h5>
            <div class="clearfix"></div>
            <div class="item-price center">570$ - 960$</div>
            <hr>
            <div class="button pull-left"><a href="#">В корзину</a></div>
            <div class="button pull-right"><a href="#">Сравнить</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="item">
          <div class="item-image">
            <a href="#/phones/yota_yotaphone32"><img src="http://content2.onliner.by/catalog/device/icon/3a3d4e2086da6135fae4eaa680139c05.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="item-details">
            <h5><a href="#/phones/yota_yotaphone32">Yota YotaPhone (32GB)</a></h5>
            <div class="clearfix"></div>
            <div class="item-price center">659$ - 0$</div>
            <hr>
            <div class="button pull-left"><a href="#">В корзину</a></div>
            <div class="button pull-right"><a href="#">Сравнить</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="item">
          <div class="item-image">
            <a href="#/phones/htc_one"><img src="http://content2.onliner.by/catalog/device/icon/4ca7e0933a63294b1c0f68c948a2a0b5.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="item-details">
            <h5><a href="#/phones/htc_one">HTC One (32Gb)</a></h5>
            <div class="clearfix"></div>
            <div class="item-price center">600$ - 780$</div>
            <hr>
            <div class="button pull-left"><a href="#">В корзину</a></div>
            <div class="button pull-right"><a href="#">Сравнить</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="item">
          <div class="item-image">
            <a href="#/phones/apple_iphone5_16"><img src="http://content2.onliner.by/catalog/device/icon/bb076a5f159db28ad19b2c73c08708f7.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="item-details">
            <h5><a href="#/phones/apple_iphone5_16">Apple iPhone 5 (16Gb)</a></h5>
            <div class="clearfix"></div>
            <div class="item-price center">699$ - 3000$</div>
            <hr>
            <div class="button pull-left"><a href="#">В корзину</a></div>
            <div class="button pull-right"><a href="#">Сравнить</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4">
        <div class="item">
          <div class="item-image">
            <a href="#/phones/samsung_i9190"><img src="http://content2.onliner.by/catalog/device/icon/d9d607d2d45d14c151587f8cd1eede73.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="item-details">
            <h5><a href="#/phones/samsung_i9190">Samsung Galaxy S4 mini (I9190)</a></h5>
            <div class="clearfix"></div>
            <div class="item-price center">360$ - 467$</div>
            <hr>
            <div class="button pull-left"><a href="#">В корзину</a></div>
            <div class="button pull-right"><a href="#">Сравнить</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>                                                                   
    </div>
  </div>
</div>
<!--/ Items end -->