<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Контакты</h2>
                <h4>бла-бла-бла</h4>
            </div>
        </div>
    </div>
</div>

<div class="content contact-two">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <!-- Contact form -->
                <h4 class="title">Написать нам</h4>
                <div class="form">
                    <!-- Contact form (not working)-->
                    <form class="form-horizontal">
                        <!-- Name -->
                        <div class="form-group">
                            <label class="control-label col-md-2" for="name">Имя</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="name">
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-group">
                            <label class="control-label col-md-2" for="email">Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="email">
                            </div>
                        </div>
                        <!-- Comment -->
                        <div class="form-group">
                            <label class="control-label col-md-2" for="comment">Комментарий</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="comment" rows="3"></textarea>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="form-group">
                            <!-- Buttons -->
                            <div class="col-md-9 col-md-offset-2">
                                <button type="submit" class="btn btn-default">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="center">
                    <!-- Social media icons -->
                    <strong>Следите за нами в социальных сетях:</strong>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest pinterest"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <h4 class="title">Google карта</h4>
                <!-- Google maps -->
                <div class="gmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.126922014008!2d27.547007999999995!3d53.893947999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf9b2cfa2ddf%3A0x61bdf8323afbfd08!2sBelarusian+State+University!5e0!3m2!1sen!2s!4v1401456939797" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>

                <hr>
                <!-- Address section -->
                <h4 class="title">Address</h4>
                <div class="address">
                    <address>
                      <!-- Company name -->
                      <strong>БГУ</strong><br>
                      <!-- Address -->
                      220030, г.Минск,<br/>
                      пр.Независимости 4.<br/>
                      <!-- Phone number -->
                      <abbr title="Телефон">Телефон:</abbr> +375-29-666-66-66
                    </address>

                    <address>
                      <!-- Name -->
                      <strong>Путинцев Дмитрий</strong><br>
                      <!-- Email -->
                      <a href="mailto:#">putintsev.dmitry@gmail.com</a>
                    </address> 
                </div>
            </div>

        </div>
    </div>
</div>