<div class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- Checkout page title -->
          <h4 class="title"><i class="fa fa-shopping-cart"></i> Оформление заказа</h4>

          <div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			          Способ доставки
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
			      <div class="panel-body">
					<div class="form form-small">
					    <!-- Register form (not working)-->
					    <form class="form-horizontal">
					        <!-- City -->
					        <div class="form-group">
					            <label class="control-label col-md-2" for="address">Город</label>
					            <div class="col-md-6">
					                <input type="text" class="form-control" id="city">
					            </div>
					        </div>
					        <!-- Street -->
					        <div class="form-group">
					            <label class="control-label col-md-2" for="address">Улица</label>
					            <div class="col-md-6">
					                <input type="text" class="form-control" id="street">
					            </div>
					        </div>
					        <!-- House and Flat -->
					        <div class="form-group">
					            <label class="control-label col-md-2" for="address">Дом</label>
					            <div class="col-md-2">
					                <input type="text" class="form-control" id="house">
					            </div>
					            <label class="control-label col-md-2" for="address">Квартира</label>
					            <div class="col-md-2">
					                <input type="text" class="form-control" id="flat">
					            </div>
					        </div>
					        <!-- Phone -->
					        <div class="form-group">
					            <label class="control-label col-md-2" for="address">Телефон</label>
					            <div class="col-md-6">
					                <input type="text" class="form-control" id="phone">
					            </div>
					        </div>
					    </form>
					</div>

					<br />
					
					  <!-- Confirm order button -->
		              <div class="row">
		                <div class="col-md-6 col-md-offset-2">
		                  <div class="pull-left">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="btn btn-default">Везите уже, везите!</a>
		                  </div>
		                  <div class="pull-right">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="btn btn-danger">Хочу быстрее, сам заберу!</a>
		                  </div>

		                </div>
		              </div>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			          Способ оплаты
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
					<div class="form form-small">
					    <!-- Register form (not working)-->
					    <form class="form-horizontal">
					        <!-- Name -->
					        <div class="form-group">
					            <label class="control-label col-md-2" for="order">Имя держателя</label>
					            <div class="col-md-6">
					                <input type="text" class="form-control" id="name">
					            </div>
					        </div>
					        <!-- Card Number -->
					        <div class="form-group">
					            <label class="control-label col-md-2" for="order">Номер карты</label>
					            <div class="col-md-6">
					                <input type="text" class="form-control" id="card-number">
					            </div>
					        </div>
					        <!-- CVC -->
					        <div class="form-group">
					            <label class="control-label col-md-2" for="order">CVC</label>
					            <div class="col-md-1">
					                <input type="text" class="form-control" id="cvc">
					            </div>
					        </div>
					    </form>
					</div>

					<br />
					
					  <!-- Confirm order button -->
		              <div class="row">
		                <div class="col-md-6 col-md-offset-2">
		                  <div class="pull-left">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="btn btn-danger">Заплатить!</a>
		                  </div>
		                  <div class="pull-right">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="btn btn-default">Только кэш, только хардкор!</a>
		                  </div>

		                </div>
		              </div>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			          Обзор заказа
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			        Вы купили
			      </div>
			    </div>
			  </div>
			</div>
      </div>
    </div>
  </div>
</div>